.card {
  border: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 20px;
  .info {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    border: 1px red solid;

    p {
      border: 1px red solid;
    }
  }

  .imagenes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    height: 10%;
  }

  img {
    width: 35%;
    height: 35%;
  }
}
