.mainContainer {
  .container {
    color: white;
    h2 {
      text-align: center;
    }
    .inicioBtn2 {
      font-family: "Poppins", sans-serif;
      border-radius: 5px;
      height: 40px;
      padding: 5px 12px;
      margin-top: 30px;
      cursor: pointer;
    }

    .formCat2 {
      width: 30%;
      position: relative;
      padding: 10px;
      background-color: $azul3;
      border-radius: 10px;
      margin-bottom: 10px;

      label {
        margin-left: 20px;
      }

      button {
        margin-left: 20px;
      }

      input {
        position: absolute;
        right: 70px;
        top: 24px;
        width: 270px;
        height: 13px;
        padding: 12px;
        border-radius: 12px;
        border: 1.5px solid lightgrey;
        outline: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        box-shadow: 0px 0px 20px -18px;

        &:hover {
          border: 2px solid lightgrey;
          box-shadow: 0px 0px 20px -17px;
        }

        &:active {
          transform: scale(0.95);
        }

        &:focus {
          border: 2px solid grey;
        }
      }

      button {
        font-family: "Poppins", sans-serif;
        border-radius: 5px;
        height: 40px;
        padding: 1px 10px;
        cursor: pointer;
      }
    }

    .formSub2 {
      width: 30%;
      position: relative;
      padding: 10px;
      background-color: $azul3;
      border-radius: 10px;

      label {
        margin-left: 20px;
      }

      button {
        margin-left: 20px;
      }

      input {
        position: absolute;
        right: 70px;
        top: 24px;
        width: 270px;
        height: 13px;
        padding: 12px;
        border-radius: 12px;
        border: 1.5px solid lightgrey;
        outline: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        box-shadow: 0px 0px 20px -18px;

        &:hover {
          border: 2px solid lightgrey;
          box-shadow: 0px 0px 20px -17px;
        }

        &:active {
          transform: scale(0.95);
        }

        &:focus {
          border: 2px solid grey;
        }
      }

      button {
        font-family: "Poppins", sans-serif;
        border-radius: 5px;
        height: 40px;
        padding: 1px 10px;
        cursor: pointer;
      }
    }

    .formEdit {
      width: 55vw;
      position: relative;
      padding: 10px;

      .check {
        background-color: $grisoscuro;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-evenly;
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
          margin-bottom: 10px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
          border-radius: 10px;
          padding: 10px;
          position: relative;
          height: 30px;

          label {
            width: 80%;
            height: 100%;
            display: flex;
            position: absolute;
            align-items: center;

            span {
              height: 100%;
              width: 80%;
              padding-left: 10px;
              display: flex;
              align-items: center;
              font-size: 15px;
            }

            input {
              position: absolute;
              right: 0;
              border-radius: 20px;
            }
          }
        }
      }
      .editCat {
        background-color: $azul3;
        border-radius: 10px;
        padding: 10px;
      }

      .editSub {
        background-color: $azul3;
        border-radius: 10px;
      }

      .editProd {
        .namecodedesc {
          box-shadow: $tomate 0px 2px 5px;
          padding: 10px;
          margin-top: 20px;
          background-color: $grisoscuro;
          border-radius: 10px;
          height: 250px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 7%;
          padding-bottom: 20px;

          .nameProd {
            display: flex;
            position: relative;
            justify-content: space-evenly;

            label {
              width: 50%;
              text-align: center;
            }

            input {
              width: 50%;
              height: 5px;
              padding: 10px;
              border-radius: 12px;
              border: 1.5px solid lightgrey;
              outline: none;
              transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
              box-shadow: 0px 0px 20px -18px;
              margin-right: 10%;

              &:hover {
                border: 2px solid lightgrey;
                box-shadow: 0px 0px 20px -17px;
              }

              &:active {
                transform: scale(0.95);
              }

              &:focus {
                border: 2px solid grey;
              }
            }
          }

          .codeProd {
            display: flex;
            position: relative;
            justify-content: space-evenly;

            label {
              width: 50%;
              text-align: center;
            }

            input {
              width: 50%;
              height: 5px;
              padding: 10px;
              border-radius: 12px;
              border: 1.5px solid lightgrey;
              outline: none;
              transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
              box-shadow: 0px 0px 20px -18px;
              margin-right: 10%;

              &:hover {
                border: 2px solid lightgrey;
                box-shadow: 0px 0px 20px -17px;
              }

              &:active {
                transform: scale(0.95);
              }

              &:focus {
                border: 2px solid grey;
              }
            }
          }

          .imgProd {
            display: flex;
            position: relative;
            justify-content: space-evenly;

            label {
              width: 50%;
              text-align: center;
            }

            input {
              width: 50%;
              height: 5px;
              padding: 10px;
              border-radius: 12px;
              border: 1.5px solid lightgrey;
              outline: none;
              transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
              box-shadow: 0px 0px 20px -18px;
              margin-right: 10%;

              &:hover {
                border: 2px solid lightgrey;
                box-shadow: 0px 0px 20px -17px;
              }

              &:active {
                transform: scale(0.95);
              }

              &:focus {
                border: 2px solid grey;
              }
            }
          }

          .descProd {
            margin-top: 20px;
            position: relative;
            height: 50px;
            display: flex;
            justify-content: space-evenly;

            label {
              width: 50%;
              text-align: center;
            }

            textarea {
              width: 50%;
              height: 40px;
              padding: 10px;
              border-radius: 12px;
              border: 1.5px solid lightgrey;
              outline: none;
              transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
              box-shadow: 0px 0px 20px -18px;
              resize: none;
              font-family: "Poppins", sans-serif;
              margin-right: 10%;

              &:hover {
                border: 2px solid lightgrey;
                box-shadow: 0px 0px 20px -17px;
              }

              &:active {
                transform: scale(0.95);
              }

              &:focus {
                border: 2px solid grey;
              }
            }
          }
        }

        .editSubmit {
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            font-family: "Poppins", sans-serif;
            border-radius: 5px;
            height: 40px;
            padding: 5px 12px;

            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .formEdit {
      width: 75vw;

      .check {
        grid-template-columns: repeat(2, 45%);
      }

      .createProd {
      }
    }
  }
}

@media (max-width: 1000px) {
  .mainContainer {
    .container {
      .formEdit {
        font-size: 14px;

        .check {
          grid-template-columns: repeat(2, 40%);
          div {
            position: relative;
            label {
              width: 100%;
              position: absolute;
            }
          }
        }

        .createProd {
        }
      }
    }
  }
}
