.container {
  // background-color: $main;
  @include centerCol;
  height: 100vh;
  h2 {
    color: gray;
    font-size: 30px;
  }

  .prueba {
    border: 2px solid black;
    height: 200px;
    width: 400px;
  }
}
