.landCont {
  position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
  //  border: 10px solid black;

   
   .backDiv {
     position: relative;
     position: relative;
     width: 100vw;
     height: 100vh;
     display: flex;
    }
    
    .back {
      object-fit: cover;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
    
    .imgDiv {
      position: absolute;
    width: 30%;
    height: 30%;
      // border: 2px solid red;
    }
    
    .imgLand {
      overflow: hidden; 
    position: relative;
    width: 100%;
    height: 100%;
    /* top: 0; */
    /* left: 0; */
    object-fit: contain;
    display: flex;
      filter: drop-shadow(0 0 0.75rem black);
    }

    .landingContainer {
    position: absolute;
    top: 25%;
    //padding: 5% 20px;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    background-color: black;
    width: 100%;

    .wrapper {
      -webkit-transform: skewY(5deg);
      -moz-transform: skewY(5deg);
      -ms-transform: skewY(5deg);
      -o-transform: skewY(5deg);
      transform: skewY(5deg);
      background-color: transparent;
      color: white;
      padding: 5%;
 
      h1 {
        font-size: 45px;
      }
      .buttonss {
        display: flex;
        align-items: center;

        button {
          width: 7.5em;
          height: 2.5em;
          margin: 0.5em;
          background: black;
          color: white;
          border: none;
          border-radius: 0.625em;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
          position: relative;
          z-index: 1;
          overflow: hidden;
          border: 1px solid white;
          box-shadow: rgba(255, 255, 255, 0.192) 0px 8px 24px;

          &:hover {
            color: black;
          }

          &:after {
            content: "";
            background: white;
            position: absolute;
            z-index: -1;
            left: -20%;
            right: -20%;
            top: 0;
            bottom: 0;
            transform: skewX(-45deg) scale(0, 1);
            transition: all 0.5s;
          }

          &:hover:after {
            transform: skewX(-45deg) scale(1, 1);
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}
