.modalProd {
  color: white;
  width: 80%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5vh;
  background-color: $grisoscuro;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 50px;
  overflow: auto;

  h2 {
    text-align: center;
  }
  span {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      transition: all 0.3s;
    }
  }

  .formModal {
    display: flex;
    flex-direction: column;
    width: 90%;

    .infoModal {
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90%;

      .imgModal {
        @include center;
        img {
          width: 20%;
        }
      }

      .modalCats {
        display: flex;
        justify-content: center;
        gap: 15%;

        p {
          text-align: center;
          width: 20%;
        }
      }

      .descObs {
        display: flex;
        justify-content: center;
        align-items: center;
        .modalDesc {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;

          .descBox {
            white-space: pre-wrap;
            overflow: auto;
            width: 80%;
            height: 180px;
            background-color: $azul3;
            border-radius: 10px;
            padding: 1vh;
            word-wrap: break-word;
            font-family: "Poppins", sans-serif;
          }
        }

        .modalObs {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;

          .obsBox {
            white-space: pre-wrap;
            overflow: auto;
            width: 80%;
            height: 180px;
            background-color: $azul3;
            border-radius: 10px;
            padding: 1vh;
            word-wrap: break-word;
            font-family: "Poppins", sans-serif;
          }
        }
      }
    }

    .modalBtns {
      @include center;
      gap: 10%;

      .btnCart {
        @include center;
        width: 150px;
        font-weight: 500;
        color: white;
        font-family: "Poppins", sans-serif;
        background-color: $azul3;
        border-radius: 10px;
        cursor: pointer;
        padding: 7px 10px;

        img {
          width: 40px;
        }
      }

      .btnEdit {
        @include center;
        width: 150px;
        font-weight: 500;
        color: white;
        font-family: "Poppins", sans-serif;
        background-color: $azul3;
        border-radius: 10px;
        cursor: pointer;
        padding: 7px 10px;

        img {
          width: 40px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .modalProd {
    width: 85%;
    height: 70vh;
    overflow-y: scroll;
    padding-top: 290px;

    .formModal {
      .infoModal {
        .imgModal {
          img {
            width: 40%;
          }
        }
        .modalCats {
          flex-direction: column;
          align-items: center;
          p {
            width: 50%;
          }
        }
        .descObs {
          flex-direction: column;
          .modalDesc {
            width: 70%;

            .descBox {
              width: 100%;
            }
          }

          .modalObs {
            width: 70%;

            .obsBox {
              width: 100%;
            }
          }
        }
      }

      .modalBtns {
        .btnCart {
          width: 150px;

          padding: 5px 10px;

          img {
            width: 30px;
          }
        }

        .btnEdit {
          width: 150px;

          padding: 5px 10px;

          img {
            width: 30px;
          }
        }
      }
    }
  }
}
