.paginadoContainer {
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.numberList {
  background: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    transform: translateY(-10%);
    transition: all 0.3s;
  }
}

.current {
  margin-left: 10px;

  cursor: pointer;
  padding: 10px 20px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: 10px;

  &:hover {
    background-position: right top;
    transform: translateY(-5%);
    transition: all 0.3s;
  }
}
