.searchBar_container {
  font-family: "Poppins", sans-serif;
  position: absolute;
  display: flex;
  align-items: center;
  width: 300px;
  z-index: 20;
  top: 10%;
  left: 40%;

  input {
    height: 25px;
    border-radius: 50px;
    border: none;
    width: 100%;
    padding: 12px;

    &:focus {
      outline: none;
    }
  }

  .search-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1.5%;
    background-color: $azul2;
    color: white;
    font-size: 18px;
    outline: none;
  }

  .busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid green;
    color: white;
  }
}
