.searchBar_container {
  font-family: "Poppins", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  z-index: 20;

  &.open {
    position: absolute;
    width: 90%;
    top: 3%;

    input {
      height: 20px;
    }
  }

  input {
    height: 25px;
    border-radius: 50px;
    border: none;
    width: 100%;
    padding: 12px;

    &:focus {
      outline: none;
    }
  }

  .search-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1.5%;
    background-color: $tomate;
    color: white;
    font-size: 18px;
    outline: none;
  }

  .busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid green;
    color: white;
  }
}
