// $main: #475b72;
$azul1: #0d1b2a;
$azul2: #415a77;
$azul3: #cb3439;
$tomate: #cb3439;
$gris: #4b4b4b;
$grisoscuro: #272626;
$plateado: #c9c9c9;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
