// $main: #475b72;
$azul1: #0d1b2a;
$azul2: #415a77;
$azul3: #5e7797;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
